---
title: Skrive ut rapporten OCR-kladd - test
description: "Du kan skrive ut rapporten OCR-kladd - test for å teste de importerte betalingstransaksjonene i innbetalingskladden."
services: project-madeira
documentationcenter: 
author: SorenGP
ms.service: dynamics365-business-central
ms.topic: article
ms.devlang: na
ms.tgt_pltfrm: na
ms.workload: na
ms.search.keywords: 
ms.date: 10/01/2018
ms.author: sgroespe
ms.translationtype: HT
ms.sourcegitcommit: 1acac32a417f794801da50c866db2643ea0a4c2d
ms.openlocfilehash: 5e1603a5e74011355f13704d8de33603f1a958e3
ms.contentlocale: nb-no
ms.lasthandoff: 01/22/2019

---
# <a name="print-the-ocr-journal---test-report"></a><span data-ttu-id="1dd1f-103">Skrive ut rapporten OCR-kladd - test</span><span class="sxs-lookup"><span data-stu-id="1dd1f-103">Print the OCR Journal - Test Report</span></span>
<span data-ttu-id="1dd1f-104">Du kan skrive ut rapporten **OCR-kladd - test** for å teste de importerte betalingstransaksjonene i innbetalingskladden.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-104">You can print the **OCR Journal – Test** report to test the imported payment transactions in the cash receipt journal.</span></span> <span data-ttu-id="1dd1f-105">Du kan også vise potensielle advarsler og løse konflikter før betalingene bokføres i kladden.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-105">You can also view potential warnings and reconcile conflicts before the payments are posted to the journal.</span></span>  

## <a name="to-print-the-ocr-journal--test-report"></a><span data-ttu-id="1dd1f-106">Slik skriver du ut rapporten OCR-kladd - test:</span><span class="sxs-lookup"><span data-stu-id="1dd1f-106">To print the OCR Journal – Test report</span></span>  

1.  <span data-ttu-id="1dd1f-107">Velg ikonet ![Søk etter side eller rapport](../../media/ui-search/search_small.png "Søk etter side eller rapport"), angi **OCR-kladd - test**, og velg deretter den relaterte koblingen.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-107">Choose the ![Search for Page or Report](../../media/ui-search/search_small.png "Search for Page or Report icon") icon, enter **OCR Journal - Test**, and then choose the related link.</span></span>  
2.  <span data-ttu-id="1dd1f-108">I hurtigfanen **Alternativer** fyller du ut feltene som beskrevet i tabellen nedenfor.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-108">On the **Options** FastTab, fill in the fields as described in the following table.</span></span>  

    |<span data-ttu-id="1dd1f-109">Felt</span><span class="sxs-lookup"><span data-stu-id="1dd1f-109">Field</span></span>|<span data-ttu-id="1dd1f-110">Description</span><span class="sxs-lookup"><span data-stu-id="1dd1f-110">Description</span></span>|  
    |---------------------------------|---------------------------------------|  
    |<span data-ttu-id="1dd1f-111">**Vis bare linjer med OCR-feil**</span><span class="sxs-lookup"><span data-stu-id="1dd1f-111">**Show only Lines with OCR Errors**</span></span>|<span data-ttu-id="1dd1f-112">Velg dette alternativet for å skrive ut bare kladdelinjene som inneholder en advarsel i kontrollrapporten.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-112">Select to print only the journal lines that contain a warning in the test report.</span></span>|  
    |<span data-ttu-id="1dd1f-113">**Vis dimensjoner**</span><span class="sxs-lookup"><span data-stu-id="1dd1f-113">**Show Dimensions**</span></span>|<span data-ttu-id="1dd1f-114">Velg dette alternativet for å skrive ut dimensjonsinformasjon i kontrollrapporten.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-114">Select to print dimension information on the test report.</span></span>|  

3.  <span data-ttu-id="1dd1f-115">Velg **Skriv ut** for å skrive ut rapporten, eller velg **Forhåndsvisning** for å vise den på skjermen.</span><span class="sxs-lookup"><span data-stu-id="1dd1f-115">Choose the **Print** button to print the report or choose the **Preview** button to view it on the screen.</span></span>  

## <a name="see-also"></a><span data-ttu-id="1dd1f-116">Se også</span><span class="sxs-lookup"><span data-stu-id="1dd1f-116">See Also</span></span>  
 <span data-ttu-id="1dd1f-117">[Elektroniske banktjenester i Norge](electronic-banking-in-norway.md) </span><span class="sxs-lookup"><span data-stu-id="1dd1f-117">[Electronic Banking in Norway](electronic-banking-in-norway.md) </span></span>  
 <span data-ttu-id="1dd1f-118">[Opprette KID-numre på salgsdokumenter](how-to-set-up-kid-numbers-on-sales-documents.md) </span><span class="sxs-lookup"><span data-stu-id="1dd1f-118">[Set Up KID Numbers on Sales Documents](how-to-set-up-kid-numbers-on-sales-documents.md) </span></span>  
 <span data-ttu-id="1dd1f-119">[Opprette OCR-betalinger](how-to-set-up-ocr-payments.md) </span><span class="sxs-lookup"><span data-stu-id="1dd1f-119">[Set Up OCR Payments](how-to-set-up-ocr-payments.md) </span></span>  
 <span data-ttu-id="1dd1f-120">[Importere og bokføre OCR-betalinger](how-to-import-and-post-ocr-payments.md) </span><span class="sxs-lookup"><span data-stu-id="1dd1f-120">[Import and Post OCR Payments](how-to-import-and-post-ocr-payments.md) </span></span>  
 [<span data-ttu-id="1dd1f-121">Arbeide med finanskladder</span><span class="sxs-lookup"><span data-stu-id="1dd1f-121">Working with General Journals</span></span>](../../ui-work-general-journals.md)

