---
title: Skriv ut rapporten OCR-kladd – test
description: Du kan skrive ut rapporten OCR-kladd – test for å teste de importerte betalingstransaksjonene i innbetalingskladden i den norske versjonen.
author: brentholtorf
ms.topic: conceptual
ms.devlang: al
ms.search.keywords: null
ms.search.form: '15000100, 255'
ms.date: 11/21/2023
ms.author: bholtorf
ms.service: dynamics-365-business-central
ms.reviewer: bholtorf
---
# <a name="print-the-ocr-journal---test-report"></a>Skriv ut rapporten OCR-kladd – test
Du kan skrive ut rapporten **OCR-kladd - test** for å teste de importerte betalingstransaksjonene i innbetalingskladden. Du kan også vise potensielle advarsler og løse konflikter før betalingene bokføres i kladden.  

## <a name="to-print-the-ocr-journal--test-report"></a>Slik skriver du ut rapporten OCR-kladd – test

1.  Velg ikonet ![Lyspære som åpner funksjonen Fortell meg.](../../media/ui-search/search_small.png "Fortell hva du vil gjøre") og angi **OCR-kladder – test**, og velg deretter den relaterte koblingen.  
2.  I hurtigfanen **Alternativer** fyller du ut feltene som beskrevet i tabellen nedenfor.  

    |Felt|Description|  
    |---------------------------------|---------------------------------------|  
    |**Vis bare linjer med OCR-feil**|Velg dette alternativet for å skrive ut bare kladdelinjene som inneholder en advarsel i kontrollrapporten.|  
    |**Vis dimensjoner**|Velg dette alternativet for å skrive ut dimensjonsinformasjon i kontrollrapporten.|  

3.  Velg **Skriv ut** for å skrive ut rapporten, eller velg **Forhåndsvisning** for å vise den på skjermen.  

## <a name="see-also"></a>Se også
 [Elektroniske banktjenester i Norge](electronic-banking-in-norway.md)   
 [Opprette KID-numre på salgsdokumenter](how-to-set-up-kid-numbers-on-sales-documents.md)   
 [Opprette OCR-betalinger](how-to-set-up-ocr-payments.md)   
 [Importere og bokføre OCR-betalinger](how-to-import-and-post-ocr-payments.md)   
 [Arbeid med finanskladder](../../ui-work-general-journals.md)


[!INCLUDE[footer-include](../../includes/footer-banner.md)]
