---
title: Skrive ut rapporten OCR-kladd - test
description: Du kan skrive ut rapporten OCR-kladd - test for å teste de importerte betalingstransaksjonene i innbetalingskladden.
author: SorenGP
ms.service: dynamics365-business-central
ms.topic: conceptual
ms.devlang: na
ms.tgt_pltfrm: na
ms.workload: na
ms.search.keywords: ''
ms.date: 04/01/2021
ms.author: edupont
ms.openlocfilehash: 5787a88fcac4795fd84637189f046667823859be
ms.sourcegitcommit: 766e2840fd16efb901d211d7fa64d96766ac99d9
ms.translationtype: HT
ms.contentlocale: nb-NO
ms.lasthandoff: 03/31/2021
ms.locfileid: "5773466"
---
# <a name="print-the-ocr-journal---test-report"></a>Skrive ut rapporten OCR-kladd - test
Du kan skrive ut rapporten **OCR-kladd - test** for å teste de importerte betalingstransaksjonene i innbetalingskladden. Du kan også vise potensielle advarsler og løse konflikter før betalingene bokføres i kladden.  

## <a name="to-print-the-ocr-journal--test-report"></a>Slik skriver du ut rapporten OCR-kladd - test:  

1.  Velg ikonet ![Lyspære som åpner Fortell meg-funksjonen](../../media/ui-search/search_small.png "Fortell hva du vil gjøre"), angi **OCR-kladd - test**, og velg deretter den relaterte koblingen.  
2.  I hurtigfanen **Alternativer** fyller du ut feltene som beskrevet i tabellen nedenfor.  

    |Felt|Description|  
    |---------------------------------|---------------------------------------|  
    |**Vis bare linjer med OCR-feil**|Velg dette alternativet for å skrive ut bare kladdelinjene som inneholder en advarsel i kontrollrapporten.|  
    |**Vis dimensjoner**|Velg dette alternativet for å skrive ut dimensjonsinformasjon i kontrollrapporten.|  

3.  Velg **Skriv ut** for å skrive ut rapporten, eller velg **Forhåndsvisning** for å vise den på skjermen.  

## <a name="see-also"></a>Se også  
 [Elektroniske banktjenester i Norge](electronic-banking-in-norway.md)   
 [Opprette KID-numre på salgsdokumenter](how-to-set-up-kid-numbers-on-sales-documents.md)   
 [Opprette OCR-betalinger](how-to-set-up-ocr-payments.md)   
 [Importere og bokføre OCR-betalinger](how-to-import-and-post-ocr-payments.md)   
 [Arbeide med finanskladder](../../ui-work-general-journals.md)


[!INCLUDE[footer-include](../../includes/footer-banner.md)]